body {
  background-color: #ccc;
  margin: 8px 0 0 0;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #000;
  margin: auto;
  padding: 16px;
  width: 500px;
}

@media(max-width: 568px) {
  .container {
    width: 88%;
  }
}

#click-me-button {
  background-color: #0cc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

#click-me-button:focus {
  outline: none;
}

#text-element {
  font-size: 18px;
}
